@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 767px) {

}

body, html {
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom: 50px;
}

#specs {
	margin-top: 20px;
}

#footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0px;
	height: 50px;
	background-color: #eee;
	overflow:hidden;
	font-size:1em;
	text-shadow:1px 1px 0px #fff;
	font-weight: bold;
}

#footer p {
	text-align: right;
}