@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 767px) {

}

body, html {
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

table {
	
}

#content h1 {
}

#wrapper {
	min-height:100%;
}

#content {
	padding-bottom: 50px;
}

#footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0px;
	height: 50px;
	overflow:hidden;
	font-size:1em;
	text-shadow:1px 1px 0px #fff;
	font-weight: bold;
}

#footer p {
	text-align: right;
}

.myriadcoin {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 650px;
	/*background-image:url('../images/background.jpg');*/
}
